@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>Thank you for registering for the ALL IN Skate Challenge.<p>
<p>In order for you to recieve notifications by email, you will need to authorise your email account.</p>
