@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="row">
    <div class="col-xl-12">
        <div class="text-center">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="text-center">
            <p>Thank you for registering for the Roller Girl Gang Skate Challenge.<p>
            <p>In order for you to recieve notifications by email, you will need to authorise your email account.</p>
        </div>
    </div>
</div>

