@model AllInSkateChallenge.Features.Contact.ContactCommand

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Contact Form</title>
</head>
<body>
    <h1>Hello Support</h1>
    <p>A user has completed the following form:</p>
    <h2>Name</h2>
    <p>@Model.Name</p>
    <h2>Email Address</h2>
    <p>@Model.Email</p>
    <h2>Message</h2>
    <p>@Model.Message</p>
</body>
</html>