@model AllInSkateChallenge.Features.Skater.Registration.RegistrationEmailModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Skater Registration</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; margin: 0; background-color: #9d5feb; padding: 10px;">
    <center>
        <div style="padding: 20px 5% 20px 5%; margin-bottom: 10px; border-radius: 10px; background-color: #FFFFFF; max-width: 600px;">
            <img src="https://rggskatemarathon.azurewebsites.net/rggeventtwo/images/banner-mobile.png" alt="Roller Girl Gang Virtual Skate Marathon" style="width: 100%; max-width: 600px; height: auto;" />
        </div>
        <div style="padding: 20px 5% 20px 5%; margin-bottom: 10px; border-radius: 10px; background-color: #FFFFFF; max-width: 600px;">
            <p>Ey Up! Welcome to the Leeds and the Roller Girl Gang shop! We are looking forward to showing you our city's sights and local skate hangouts. The Roller Girl Gang shop is our favourite place to get all our skate gear (obvs!) The shop is situated in the beautiful historic Corn Exchange building. Built in 1861 for trading corn, the building is now home to a number of independent businesses.</p>
            <img src="https://rggskatemarathon.azurewebsites.net/rggeventone/checkpoint-photo/roller-girl-gang.jpg" alt="Roller Girl Gang Shop" style="width: 100%; height: auto;" />
        </div>
        <div style="padding: 20px 5% 20px 5%; margin-bottom: 10px; border-radius: 10px; background-color: #FFFFFF; max-width: 600px; text-align: left;">
            <p>Here's some info to get you started!</p>
            <p>Make sure you have confirmed your email address by visiting this <a href="@Model.EmailConfirmationUrl">Confirmation Page</a></p>
            <p>Make sure you've joined our <a href="https://www.facebook.com/groups/945964306554959/">Facebook Group</a>! This is a great place to share your progress and help celebrate others' successes. You can even add our Facebook frame to let folks know you've taken on the challenge.</p>
            <p>Roller Girl Gang is a not-for-profit Community Interest Company, to log your distance skating you'll need to choose your Virtual Marathon Package!</p>
            <ul>
                <li>£7.50 - receive virtual sightseeing badges as you reach stops along the route, plus get a virtual finisher's badge when you complete the challenge!</li>
                <li>£30 - receive virtual sightseeing badges as you reach stops along the route, plus get a virtual finisher's badge when you complete the challenge! PLUS get an event T- shirt & participant medal.</li>
            </ul>
            <p>You can order your package here: <a href="https://www.rollergirlgang.co.uk/events/rgg-virtual-skate-marathon-2023-2">RGG Virtual Skate Marathon 2023</a></p>
            <p>Every finisher gets a shout out on our social media!</p>
            <p>Log your <a href="@Model.LogMilesUrl">first skate</a>. Make sure you skate safe! Carry a skate tool with you, let folks know you're out and about, and follow your local COVID guidelines.</p>
        </div>
    </center>
</body>
</html>