@model AllInSkateChallenge.Features.Skater.Registration.RegistrationEmailModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Skater Registration</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; margin: 0; background-color: #9d5feb; padding: 10px;">
    <center>
        <div style="padding: 20px 5% 20px 5%; margin-bottom: 10px; border-radius: 10px; background-color: #FFFFFF; max-width: 600px;">
            <img src="https://rggskatemarathon.azurewebsites.net/rggeventtwo/images/banner-mobile.png" alt="Roller Girl Gang Virtual Skate Marathon" style="width: 100%; max-width: 600px; height: auto;" />
        </div>
        <div style="padding: 20px 5% 20px 5%; margin-bottom: 10px; border-radius: 10px; background-color: #FFFFFF; max-width: 600px;">
            <p>Ey Up! Welcome back to Leeds, our home and starting point for the 2024 Roller Girl Gang Skate Marathon.  This year we are going to try and travel further than ever and visit some of the skate communities around the UK. Before we leave on our journey though - have you got everything you need?  Why not have a cuppa and a browse in the shop https://www.rollergirlgang.co.uk/shophome (a shameless plug, I know - but can you blame me! :) ).</p>
            <p>By joining in with this marathon you are helping us realise our dream of creating a dedicated skate space for skating in Leeds - for more information see our kick-starter page.</p>
            <p>The Leeds skate community is thriving, we have a number of community skate groups, skate parks, a roller derby team and, despite Yorkshire's hilly topography and rainy weather, a number of cool outdoor spaces to skate.</p>
        </div>
        <div style="padding: 20px 5% 20px 5%; margin-bottom: 10px; border-radius: 10px; background-color: #FFFFFF; max-width: 600px; text-align: left;">
            <p>Here's some info to get you started!</p>
            <ul>
                <li>Make sure you have confirmed your email address by visiting this <a href="@Model.EmailConfirmationUrl">Confirmation Page</a></li>
                <li>Make sure you've joined our <a href="https://www.facebook.com/groups/945964306554959/">Facebook Group</a>! This is a great place to share your progress and help celebrate others' successes. You can even add our Facebook frame to let folks know you've taken on the challenge.</li>
                <li>We are charging a fee of £10 to take part in the challenge - this helps support our new skate space, The skate Sanctuary, and keep meet ups and roll outs affordable for our local skaters.</li>
                <li>Please pay to access the marathon using this link: <a href="https://www.rollergirlgang.co.uk/product-page/2024-virtual-marathon-access">RGG Virtual Skate Marathon 2024</a></li>
                <li>You've receive a medal towards the end of the challenge to open when you/ your team gets to the distance you want to achieve (it's just for fun - open it when you want!).</li>
                <li>Every finisher gets a shout out on our social media!</li>
                <li>Log your <a href="@Model.LogMilesUrl">first skate</a>. Make sure you skate safe! Carry a skate tool with you, let folks know you're out and about.</li>
            </ul>
        </div>
    </center>
</body>
</html>