@model AllInSkateChallenge.Features.Framework.Footer.FooterMenuViewModel

<footer class="border-top bg-allin-green">
    <div class="container text-center pt-3 pb-3">
        <nav class="nav justify-content-center">
            <a class="nav-link text-dark font-weight-bold" asp-controller="EventDetails" asp-action="Faq">FAQ</a>
            <a class="nav-link text-dark font-weight-bold" asp-controller="EventDetails" asp-action="TermsAndConditions">Terms</a>
            <a class="nav-link text-dark font-weight-bold" href="https://www.allincrd.uk/s/Data-Privacy-Notice-v11-Oct-20.pdf" target="_blank" rel="noopener noreferrer">Privacy</a>
            <a class="nav-link text-dark font-weight-bold" href="https://www.allincrd.uk/contact" target="_blank" rel="noopener noreferrer">Contact Us</a>
            @if (Model.IsLoggedIn)
            {
                <a class="nav-link text-dark font-weight-bold" asp-controller="EventStatistics" asp-action="Index" title="Statistics">Statistics</a>
            }
            @if (Model.IsAdmin)
            {
                <a class="nav-link text-dark font-weight-bold" asp-controller="UserAdministration" asp-action="Index" title="Admin">Admin</a>
                <a class="nav-link text-dark font-weight-bold" asp-controller="StravaWebhookAdmin" asp-action="Index" title="Strava">Strava</a>
            }
        </nav>
        <div class="justify-content-center">
            <a href="https://www.facebook.com/groups/3257681721008087/" title="FaceBook" aria-label="FaceBook" target="_blank" class="social-panel--link" rel="noopener noreferrer">
                <img src="~/images/icon-facebook-black.png" alt="FaceBook" class="social-panel--icon" />
            </a>
            <a href="https://twitter.com/allincrd" title="Twitter" aria-label="Twitter" target="_blank" class="social-panel--link" rel="noopener noreferrer">
                <img src="~/images/icon-twitter-black.png" alt="Twitter" class="social-panel--icon" />
            </a>
            <a href="https://www.instagram.com/allin.crd/" title="Instagram" aria-label="Instagram" target="_blank" class="social-panel--link" rel="noopener noreferrer">
                <img src="~/images/icon-instagram.png" alt="Instagram" class="social-panel--icon" />
            </a>
        </div>
        <span class="text-dark font-weight-bold">&copy; 2020 - </span><a class="text-dark font-weight-bold" href="https://www.allincrd.uk/" target="_blank" rel="noopener noreferrer">ALL IN Community Roller Derby</a>
    </div>
</footer>