@model AllInSkateChallenge.Features.Framework.Footer.FooterMenuViewModel

<footer class="border-top bg-allin-green">
    <div class="container text-center pt-3 pb-3">
        <nav class="nav justify-content-center">
            <a class="nav-link text-dark font-weight-bold" asp-controller="EventDetails" asp-action="Faq">FAQ</a>
            <a class="nav-link text-dark font-weight-bold" asp-controller="EventDetails" asp-action="TermsAndConditions">Terms</a>
            <a class="nav-link text-dark font-weight-bold" href="https://www.rollergirlgang.co.uk/copy-of-postage-and-refund-policy" target="_blank" rel="noopener noreferrer">Privacy</a>
            <a class="nav-link text-dark font-weight-bold" href="https://www.rollergirlgang.co.uk/contact" target="_blank" rel="noopener noreferrer">Contact Us</a>
            @if (Model.IsLoggedIn)
            {
                <a class="nav-link text-dark font-weight-bold" asp-controller="EventStatistics" asp-action="Index" title="Statistics">Statistics</a>
            }
            @if (Model.IsAdmin)
            {
                <a class="nav-link text-dark font-weight-bold" asp-controller="UserAdministration" asp-action="Index" title="Admin">Admin</a>
                <a class="nav-link text-dark font-weight-bold" asp-controller="StravaWebhookAdmin" asp-action="Index" title="Strava">Strava</a>
            }
        </nav>
        <div class="justify-content-center">
            <a href="https://www.facebook.com/groups/945964306554959/" title="FaceBook" aria-label="FaceBook" target="_blank" class="social-panel--link" rel="noopener noreferrer">
                <img src="~/images/icon-facebook-black.png" alt="FaceBook" class="social-panel--icon" />
            </a>
            <a href="https://www.instagram.com/roller_girl_gang/" title="Instagram" aria-label="Instagram" target="_blank" class="social-panel--link" rel="noopener noreferrer">
                <img src="~/images/icon-instagram.png" alt="Instagram" class="social-panel--icon" />
            </a>
            <a href="https://www.lets-roll.app" title="Lets Roll App" aria-label="Lets Roll App" target="_blank" class="social-panel--link" rel="noopener noreferrer">
                <img src="~/images/lets-roll.png" alt="Lets Roll App" class="social-panel--icon" />
            </a>
        </div>
        <span class="text-dark font-weight-bold">&copy; 2023 - </span><a class="text-dark font-weight-bold" href="https://www.rollergirlgang.co.uk/about-us" target="_blank" rel="noopener noreferrer">Roller Girl Gang CIC</a>
    </div>
</footer>