/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* Leaderboard Icons
-------------------------------------------------- */

span.leaderboard-position {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border: 2px solid black;
    text-align: center;
    font-size: 1.5em;
    display: inline-block;
    background-color: #CCCCCC;
}

span.leaderboard-position--first {
    border: 2px solid #FDD017;
    background-color: #FEE128;
}

span.leaderboard-position--second {
    border: 2px solid #C0C0C0;
    background-color: #D1D1D1;
}

span.leaderboard-position--third {
    border: 2px solid #CD7F32;
    background-color: #DE8F43;
}

@media screen and (max-width: 596px) {
    span.leaderboard-position{
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
    }
}

img.leaderboard-profile {
    border-radius: 50%;
}

/* Banners and Nav
-------------------------------------------------- */

img.hero-banner {
    width: 100%;
    height: auto;
    border-bottom: #8ABC2D 2px solid;
}

.bg-allin-green {
    background-color: #8ABC2D;
}

.border-allin-green {
    border-color: #8ABC2D;
}

.text-dark {
    color: black !important;
}

/* Time Line
-------------------------------------------------- */
.timeline, .timeline-container, .timeline-content {
    box-sizing: border-box;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: cornflowerblue;
    top: 12px;
    bottom: 12px;
    left: 50%;
    margin-left: -3px;
}

.timeline-container, .timeline-container-header {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12px;
    background-color: #F7BC0C;
    border: 4px solid #F76420;
    top: 18px;
    border-radius: 50%;
    z-index: 1;
}

.timeline-container--left {
    left: 0;
}

.timeline-container--right {
    left: 50%;
}

.timeline-container--left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #8ABC2D;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #8ABC2D;
}

.timeline-container--right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #8ABC2D;
    border-width: 10px 10px 10px 0;
    border-color: transparent #8ABC2D transparent transparent;
}

.timeline-container--right::after {
    left: -12px;
}

.timeline-content, .timeline-content-header {
    padding: 20px 30px;
    background-color: #8ABC2D;
    position: relative;
    border-radius: 6px;
}

.timeline-container-header {
    left: 25%;
    z-index: 100;
}

.timeline-link {
    color: black;
    font-weight: bold;
}

.timeline-image {
    background-size: cover;
    height: 300px;
    position: relative;
}

.timeline-image-description {
    position: absolute;
    bottom: 0;
    left: 0;
    top: auto;
    background-color: #F7BC0C;
    padding: 3px;
    opacity: 0.6;
}

.timeline-badge {
    background-color: white;
}

.carousel-indicators li {
    background-color: #555;
}

.carousel-indicators .active {
    background-color: #000;
}

@media screen and (max-width: 800px) {
    .timeline-container, .timeline-container-header {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
        z-index: 100;
    }

    .timeline-container-header {
        left: 0;
        z-index: 100;
    }

    .timeline-container::before {
        left: 60px;
        border: medium solid #8ABC2D;
        border-width: 10px 10px 10px 0;
        border-color: transparent #8ABC2D transparent transparent;
        display:none;
    }

    /* Make sure all circles are at the same spot */
    .timeline-container--left::after, .timeline-container--right::after {
        display: none;
    }

    /* Make all right containers behave like the left ones */
    .timeline-container--right {
        left: 0%;
    }
}

/* Leaderboard Icons
-------------------------------------------------- */
.btn-strava, .btn-strava-disabled {
    background-repeat: no-repeat;
    width: 193px;
    height: 48px;
    padding: 0;
    border: none;
}

.btn-strava {
    background-image: url('/images/btn_strava_connectwith_orange.png');
}

.btn-strava-disabled {
    background-image: url('/images/btn_strava_connectwith_disabled.png');
}

.side-social-panel {
    position: fixed;
    border: 1px solid #8ABC2D;
    background-color: white;
    top: calc(50vh - 72px);
    margin: 0;
    padding: 0px;
}

.side-social-panel--icon{
    border: none;
    width: auto;
    height: 36px;
    margin: 9px;
    display: block;
}

.social-panel--icon {
    border: none;
    width: auto;
    height: 36px;
    margin: 9px;
    display: inline-block;
}

.social-panel--link{
    display: inline-block;
}

@media screen and (max-width: 1044px){
    .side-social-panel{
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .social-panel--link {
        display: block;
    }
}

