@model AllInSkateChallenge.Features.Framework.Models.PageViewModel<AllInSkateChallenge.Features.EventDetails.EventDetailsViewModel>

@{
    Layout = "_PageViewModelLayout";
}

<h2>Event FAQ</h2>
<div class="card mt-3">
    <div class="card-header">
        Why do we have to pay to take part?
    </div>
    <div class="card-body">
        <p class="card-text">Roller Girl Gang is a not-for-profit Community Interest Company and we count on events like our virtual skate marathon and virtual challenges to help fund our community programmes.</p>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header">
        Do I have to skate the whole thing to get a shirt?
    </div>
    <div class="card-body">
        <p class="card-text">No way!  Roller Girl Gang's values are all about skating to your own ability and enjoying your skate journey.  You choose your own goals and when you've achieved what you want to achieve, you get a shirt  and a paticipant medal if you purchase the full virtual skate package.</p>
        <a href="https://www.rollergirlgang.co.uk/events/rgg-virtual-skate-marathon-2023-2" target="_blank" class="btn btn-primary" rel="noopener noreferrer">Shop Now</a>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header">
        How long do I have to complete the challenge?
    </div>
    <div class="card-body">
        <p class="card-text">As long as you want or need, we'll close registrations in September 2023 though.</p>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header">
        Do I have to prove I finished it?
    </div>
    <div class="card-body">
        <p class="card-text">Nope.  We believe you.  We would love to see sweaty skatey photos and cheer you on through your milestones though.</p>
    </div>
</div>

<h2 class="mt-3">Strava FAQ</h2>
<div class="card mt-3">
    <div class="card-header">
        What kind of activities can be imported from Strava?
    </div>
    <div class="card-body">
        <p class="card-text">As this is a Virtual Skate Marathon, only skating based activities can be imported from Strava.  This is specifically limited to Inline Skating, Ice Skating or Skateboarding activities.</p>
        <p class="card-text">As Strava does not currently have a work out for Quad Roller Skates, we suggest that you use an Inline Skating activity in Strava.</p>
    </div>
</div>
<div class="card mt-3">
    <div class="card-header">
        Do I have to have Strava to track my distance?
    </div>
    <div class="card-body">
        <p class="card-text">No, Strava is not essential for making progress in the Virtual Skate Marathon.  You can track your distance using any app. We also recommend <a href="https://bit.ly/43i236R" rel="nofollow noopener noreferrer" target="_blank">Let's Roll App</a> - available from your app store.</p>
        <p class="card-text">If you do track your distance with another app, you will have manually log your distance on the <a asp-controller="SkateLog" asp-action="Index">Skate Log</a> screen.</p>
    </div>
</div>
<div class="card mt-3">
    <div class="card-header">
        Why is there is no option to synchronise my workouts on the "My Log" screen?
    </div>
    <div class="card-body">
        <p class="card-text">Strava limits the number of times we can pull data from their servers within a given period of time.  This limit is 100 requests per 15 minute window, or 1000 requests per day.</p>
        <p class="card-text">Strava does send us automatic notifications us when you complete or update an activity, but does not provide us with details about the activity. The full details of the activity can only be retrieved once you have logged into this site.</p>
        <p class="card-text">Once we have recieved a notification, the option to import the data will be made available.</p>
    </div>
</div>
<div class="card mt-3">
    <div class="card-header">
        What happens if I de-authroise this site in Strava?
    </div>
    <div class="card-body">
        <p class="card-text">Strava will automatically notify us that you have revoked permission for this site to use your Strava data. When we recieve this notification, your account on this site will be automatically deleted.</p>
        <p class="card-text">If you wish to proceed with the Roller Girl Gang Virtual Marathon 2023, you will either have to sign in again with Strava to create a new account or register a new account manually.</p>
    </div>
</div>
<div class="card mt-3">
    <div class="card-header">
        Will fellow skaters get credit if I add them to my skating activity in Strava?
    </div>
    <div class="card-body">
        <p class="card-text">When you add a fellow athlete to an activity in Strava, your activity data is cloned and assigned to that athlete's account in Strava.</p>
        <p class="card-text">If that athlete is also a user of the Roller Girl Gang Virtual Marathon 2023 website, then Strava will send an automated notification to this site for their account.</p>
    </div>
</div>
<div class="card mt-3">
    <div class="card-header">
        Why do I have to provide an email address when registering with Strava?
    </div>
    <div class="card-body">
        <p class="card-text">Strava does not send us your email address when authenticating with Strava. So you need to provided us with an email address so that we can process any notifications.</p>
    </div>
</div>

<h2 class="mt-3">GDPR FAQ</h2>
<p>Under GDPR regulations, you have several rights as individual in respect to your data.  You can read more on the <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/" rel="nofollow noopener noreferrer" target="_blank">Information Commissioner's Office</a> website and view our <a href="https://www.rollergirlgang.co.uk/copy-of-postage-and-refund-policy" target="_blank" rel="noopener noreferrer">Privacy Policy</a>.</p>
<div class="card mt-3">
    <div class="card-header">
        Can I correct my user data?
    </div>
    <div class="card-body">
        <p class="card-text">As a user of the website, you have the ability to update your account details at any time. Visit the <a href="/Identity/Account/Manage/">Account Management</a> screen to update your data.</p>
    </div>
</div>
<div class="card mt-3">
    <div class="card-header">
        Can I delete my data?
    </div>
    <div class="card-body">
        <p class="card-text">As a user of the website, you have the ability to delete your account at any time. Visit the <a href="/Identity/Account/Manage/PersonalData">Personal Data</a> screen to delete your data and account.</p>
        <p class="card-text">If you only need to delete individual Skate Log Entries, you can remove entries by visiting the <a asp-controller="SkateLog" asp-action="Index">Skate Log</a> screen.</p>
    </div>
</div>
<div class="card mt-3">
    <div class="card-header">
        Can I download my data?
    </div>
    <div class="card-body">
        <p class="card-text">As a user of the website, you have complete access to download your data. When you are logged into the site, you can visit the <a href="/Identity/Account/Manage/PersonalData">Personal Data</a> screen to export your data.</p>
    </div>
</div>
