@model AllInSkateChallenge.Features.Framework.Models.PageViewModel<AllInSkateChallenge.Features.EventDetails.EventDetailsViewModel>

@{
    Layout = "_PageViewModelLayout";
}

@if (!Model.HasPaid)
{
    <div class="row">
        <div class="col-xl-12">
            <div class="alert alert-warning" role="alert">
                Please note that ALL IN has either not yet received or not yet processed your Skate Challenge entry fee. Your progress will not be visible in the leader board until then.
            </div>
        </div>
    </div>
}

<div class="col-xl-12">
    <vc:leader-board user="@Model.CurrentUser" show-filter="true" limit="null"></vc:leader-board>
</div>