
@{
    Layout = "_PageViewModelLayout";
}

<h2>Your Acknowledgement</h2>
<p>By Proceeding With Registering For The Event, You Acknowledge And Agree That You Have Carefully Read The Terms Set Forth Below.</p>
<p>Skating can be physically challenging. You need to be satisfied that you are physically capable of doing the Event without risk to your health or your life.</p>
<h2>Assumption Of Risk</h2>
<p>In consideration of the acceptance of your registration and participation in and/or observation of the event, you assume full and complete risk and responsibility for any discomfort, illness, injury, or accident which may occur while you are preparing for the event, during the event, or as a result of participating in the event.</p>
<p>Protective equipment while skating is recommended and it is you responsibility to wear it. I understand that any dangers encountered en route are not the responsibility of ALL IN and I will take care to choose a safe route.</p>
<h2>Photo And Media Sharing</h2>
<p>By sharing any media to the event group (photos, videos, or screenshots), I consent for ALL IN: Community Roller Derby to share photographs or videos of me and my property in connection with the above-identified event.</p>
<p>I agree that ALL IN: Community Roller Derby may use such photographs or videos of me with or without my name and for any lawful purpose, for example publicity, illustration, advertising, and Web content.</p>
<p>ALL IN will never sell or share the rights to photographs or videos.  We will only ever use them in our own promotion or content.</p>