@model AllInSkateChallenge.Features.Framework.Models.PageViewModel<AllInSkateChallenge.Features.Home.HomePageViewModel>

@{
    Layout = "_PageViewModelLayout";
}

<div class="row">
    <div class="col-xl-12">
        <p>Roller Girl Gang CIC challenges you to join the RGG Virtual Skate Marathon 2023 around our home city of Leeds and its surrounds! Leeds is a city in the North of England, with a mixture of urban and rural environments. We included a mixture of our favourite skate spots and local areas of interest. Skate whenever, wherever, and take however long you need. Pick a goal that suits you - you've got until the end of September 2023 to do your best. Track your distance here and share your successes in our Facebook Group. Disclaimer: Many of the places / routes aren't actually skateable... so pick a great skate spot near you and start recording your distance!</p>

        @if (Model.Content.NumberOfSkaters > 1 && Model.Content.CumulativeKilometers > 0)
        {
            <p class="font-weight-bold">
                @Model.Content.NumberOfSkaters skaters have now taken up the challenge and skated a collective @Model.Content.CumulativeKilometers.ToString("F2") kilometers.
                @if (Model.CurrentUser != null)
                {
                    <span>Visit the <a class="font-weight-bold" asp-controller="EventStatistics" asp-action="Index" title="Event Statistics">Event Statistics</a> page to see more great achievements by our skaters.</span>
                }
            </p>
        }

    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        @if (Model.CurrentUser == null && !Model.IsRegistrationOver)
        {
            <div class="card mt-3 mb-3 border-allin-green">
                <h5 class="card-header bg-allin-green">Register for the RGG Virtual Skate Marathon</h5>
                <div class="card-body">
                    <p class="card-text">Register now to join the RGG Virtual Skate Marathon and begin your virtual journey around Leeds.</p>
                    <p class="card-text">We understand that 100 Kilometres is a long distance to commit to, you can always aim for one of the other milestones along the route if you are looking for something a bit shorter.</p>
                    <p class="card-text">We are charging a minimum fee of £7.50 to take part in the challenge- this helps support our community programmes like the Roll Forward Project, and keep meet ups and roll outs free.</p>
                    <form id="external-account" asp-area="Identity" asp-page="/Account/ExternalLogin" method="post" class="form-horizontal">
                        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Register as a new challenger</a>
                        <button type="submit" class="btn btn-strava" name="provider" value="Strava" title="Register using your strava account"></button>
                        <a class="btn btn-rgg" asp-area="Identity" asp-page="/Account/Login">Already Registered? Log In!</a>
                    </form>
                </div>
            </div>
        }
        <div class="leeps-liverpool-map-container">
            <img src="~/rggeventone/images/marathon-map.png" class="img-fluid leeds-liverpool-map" alt="Leeds Virtual Journey Map" />
        </div>
    </div>
</div>

<div class="row mt-3">
    @if (Model.CurrentUser != null)
    {
        <div class="col-xl-6 mb-3">
            <h2>Leader Board</h2>
            <vc:leader-board user="@Model.CurrentUser" show-filter="false" limit="10"></vc:leader-board>
            <div class="text-center">
                <a asp-controller="EventDetails" asp-action="LeaderBoard" class="btn btn-primary">See All Leader Boards</a>
            </div>
        </div>

        <div class="col-xl-6 mb-3">
            <h2>Latest Journeys</h2>
            <vc:latest-updates take="10" skip="0" show-load-more="false" show-journey-name="false"></vc:latest-updates>
            <div class="text-center">
                <a asp-controller="EventDetails" asp-action="LatestUpdates" class="btn btn-primary">See All Updates</a>
            </div>
        </div>
    }
</div>
