@using AllInSkateChallenge.Features.MileageLogging
@model AllInSkateChallenge.Features.MileageLogging.MileageLoggingEntryModel

<div class="text-center">
    <h1>Log Your Skate Session</h1>
</div>

<form method="post" asp-controller="MileageLogging" asp-action="Index" asp-antiforgery="true">
    <div class="form-group">
        <label for="distanceUnit">Miles or Kilometres?</label>
        @Html.DropDownListFor(m => m.DistanceUnit, new SelectList(Enum.GetValues(typeof(DistanceUnit))), null, new { @class = "form-control", aria_describedby = "distanceUnitHelp" })
        <small id="distanceUnitHelp" class="form-text text-muted">Distance can be logged in miles or kilometres, but will be converted into miles.</small>
    </div>
    <div class="form-group">
        <label for="distance">Distance this session</label>
        @Html.TextBoxFor(m => m.Distance, null, new { @type = "number", @class = "form-control", aria_describedby = "distanceHelp", step = "0.01", min = "0", max = "1000" })
        <small id="distanceHelp" class="form-text text-muted">Partial miles or kilometres can be entered by typing a decimal value e.g. 4.5.</small>
    </div>
    <div class="form-group">
        <label for="exerciseUrl">Exercise Tracker Url</label>
        @Html.TextBoxFor(m => m.ExerciseUrl, null, new { @type = "url", @class = "form-control", aria_describedby = "exerciseUrlHelp" })
        <small id="exerciseUrlHelp" class="form-text text-muted">Some exercise trackers allow you to share a link to your exercise, you can paste that link here.</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>