@model AllInSkateChallenge.Features.Framework.Models.PageViewModel<AllInSkateChallenge.Features.Contact.ContactViewModel>

@{
    Layout = "_PageViewModelLayout";
}

<div class="card mt-3 mb-3 border-allin-green">
    <h5 class="card-header bg-allin-green">Contact Us Form</h5>
    <div class="card-body">
        <p class="card-text">Before getting in touch, please checkout our <a asp-controller="Faq" asp-action="Index" target="_blank">FAQ</a> in case we already have an answer for you.</p>
        <partial name="ContactForm" model="@Model.Content" />
    </div>
</div>

