@model AllInSkateChallenge.Features.Framework.Models.PageViewModel<AllInSkateChallenge.Features.Contact.ContactViewModel>

@{
    Layout = "_PageViewModelLayout";
}

<div class="card mt-3 mb-3 border-allin-green">
    <h5 class="card-header bg-allin-green">Contact Us Form - Thank You</h5>
    <div class="card-body">
        <p class="card-text">Thank you for contacting us, we will respond as soon as we are able.</p>
        <p class="card-text">In the mean time, please checkout our <a asp-controller="Faq" asp-action="Index" target="_blank">FAQ</a>.</p>
    </div>
</div>